node_modules
.next
out
dist
coverage
/logs/
tsconfig.tsbuildinfo
.env
.env.local
.env.*.local
grok_api.txt
assignment_description.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
ui-screenshot.png
